*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.screen-field {
    height: 100vh;
    width: 100vw;
    border: solid black 4px;
    background-color: aqua;
}

.ball {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
